// reset component styles
.ant-layout {
  height: 100vh;
}

// .anticon {
//   vertical-align: 0.1em;
// }

// private
.lx-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  // transition: all .2s ease;
  color: #fff;
  position: relative;

  .lx-logo-img {
    height: 48px;
    padding: 10px 4px 10px 10px;
  }

  .lx-logo-title {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    overflow: hidden;
    position: absolute;
    left: 54px;
  }

  .hide {
    display: none;
  }

  .trans {
    transition: all 2s;
  }
}

.lx-layout-header {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0;

  &_bread {
    margin-left: 12px;
  }
}

.lx-head-left {
  height: 100%;
  display: flex;
  align-items: center;
}

.lx-head-icon {
  display: flex;
  align-items: center;
}

.lx-head-hover_bg {
  height: inherit;
  cursor: pointer;
  padding: 1px 10px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #f6f6f6;
  }
}

.lx-head-right {
  height: 100%;
  display: flex;
  align-items: center;

  .lx-head-username {
    display: flex;
    align-items: center;
    height: inherit;
    margin-left: 10px;
  }
}

.lx-rotate {
  transform: rotate(180deg)
}

// tabs
.lx-tabs {
  padding: 1px 5px;
  font-size: 12px;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;

  &-tab, &_deactive {
    border: 1px solid #d9d9d9;
    margin: 0 3px;
    display: inline-block;
    cursor: pointer;

    &_text {
      padding: 3px 0 3px 10px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
      transition: all 0.5s;
    }

    .lx-icon {
      vertical-align: middle;

      &:hover {
        color: $gray-600;
      }
    }

    .lx-icon_hov {
      vertical-align: middle;

      &:hover {
        color: $gray-200;
      }
    }

    .lx-icon_hover {
      transition: all 0.5s;
      opacity: 0;
    }

    &:hover .lx-icon_hover {
      opacity: 1;
    }
  }
  

  &_deactive {
    &:hover .lx-tabs-tab_text {
      color: $primary;
    }
  }

  &_padding {
    padding: 0 5px;
  }

  &_active {
    background: $primary;
    color: #fff;
  }

  &-content__extra-redo {
    display: inline-block;
    width: 36px;
    height: 27px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.45);
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #d9d9d9;
    &:hover {
      color: #000;
    }
  }
}
